body {
  font: 10px sans-serif;
  width: 700px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.A {
  fill: #3b5998;
}

.B {
  fill: #1ab1e8;
}

.C {
  fill: #efaf25;
}

.D {
  fill: #ca222d;
}

.E {
  fill: #0074b2;
}